*{
    margin: 0;
    padding: 0;
    font-family: arial;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.nav{
    width: 100%;
    height: 49px;
    background-color:  #262626;
    position: fixed;
    top: 0;
    left:0;

    z-index: 1000;
}

.nav a{
    float: left;
    text-decoration: none;
    color: #fff;
    padding: 14px 26px;
    font-size: 17px;
    transition: 0.6s all;
}

.nav a:hover{
    background-color:dodgerblue;
    color: floralwhite;
}

.nav .search{
    float: right;
    border: none;
}

.nav input[type=text]{
    padding: 6px;
    margin-top: 8px;
    border:none;
    font-size: 17px;
}

.nav .search button{
    float: right;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    margin-right: 16px;
    transition: 0.6s all;
}

.nav .search button:hover{
    background-color:dodgerblue;
    color:floralwhite;
}
