.sliderContainer{
    background : black;
    display : flex;
    justify-content: center;
    align-items: center;

    width : 100%;
    height : 100vh;
}
.slider{
    width: 100%;
    height: 80vh;
    background-color:  black;
    overflow: hidden;
}

.slider figure{
    position : relative;
    width : 300%;
    height : 100%;
    display : flex;
    overflow : hidden;

    left : 0;

    animation-name : sliderAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

.slider figure div{
    width : 100%;
    height : 100%;

    display : flex;
    justify-content: center;
    align-items: center;
}

.slider figure div img{
    height : 100%;
}

@keyframes sliderAnimation {
  0%   {left : 0%;}    
  30%  {left : 0%;}
  35%  {left : -100%;}
  65%  {left : -100%;}
  70%  {left : -200%;}
  95%  {left : -200%;}
  100%  {left : 0%;}
}


.about{
    width : 100%;
    height: 100vh;
    background-color:royalblue;
}