* {
  font-family: "Poppins", sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

.nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  width: 100%;
  height: 50px;

  background-color: #262626;
}

.nav a {
  font-size: 17px;

  float: left;

  padding: 14px 26px;

  transition: 0.6s all;
  text-decoration: none;

  color: #fff;
}

.nav a:hover {
  color: floralwhite;
  background-color: dodgerblue;
}

.nav .search {
  float: right;

  border: none;
}

.nav input[type="text"] {
  font-size: 17px;

  margin-top: 8px;
  padding: 6px;

  border: none;
}

.nav .search button {
  font-size: 17px;

  float: right;

  margin-top: 8px;
  margin-right: 16px;
  padding: 6px;

  cursor: pointer;
  transition: 0.6s all;

  border: none;
  background-color: #ddd;
}

.nav .search button:hover {
  color: floralwhite;
  background-color: dodgerblue;
}

.open {
  display: none;
}

.scroll-section {
  scroll-margin: 50px;
}

@media (max-width: 720px) {
  .nav a {
    padding: 14px 20px;
  }
}
