.sliderContainer {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}
.slider {
  width: 100%;
  height: 80vh;
  background-color: black;
  overflow: hidden;
}

.slider figure {
  position: relative;
  width: 300%;
  height: 100%;
  display: flex;
  overflow: hidden;

  left: 0;

  animation-name: sliderAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.slider figure div {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider figure div img {
  height: 100%;
}

@keyframes sliderAnimation {
  0% {
    left: 0%;
  }
  30% {
    left: 0%;
  }
  35% {
    left: -100%;
  }
  65% {
    left: -100%;
  }
  70% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}

.about {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}

.about-heading{
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 50px;
  font-family: emoji;
}

.about-paragraph {
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
}

.trekking-info-container {
  width: 100%;
  /* background-color: black; */
  /* color: white; */
  padding: 0 80px;
}

.trekking-info{
  width: 100%;
  height: 100vh;
  display: flex;
  
}

.info-content{
  margin-right: 80px;
}

.info-content h3 {
  margin: 30px 0 0px 0;
  font-size: 24px;
}

.info-content-paragraph {
  font-size: 18px;
    padding: 10px 0;
}

.info-heading{
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 50px;
  font-family: emoji;
}

.info-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-image img{
  height: 80%;
}

@media (max-width: 720px) {
  .slider figure div img {
    width: 100%;
    height: auto;
  }
}

.centerdiv {
  margin: 0;
  padding: 0;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

a {

    height: 70px;
    width: 70px;
    background-color: #f5f6fa;
    border-radius: 100px;
    text-align: center;
    margin: 30px;
    line-height: 90px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
  
}

a i {
  transition: all 0.3s linear;
  
}

a:hover i{
  transform: scale(1.4);
}

.fa-instagram{
  color: #e84393
}

.fa-youtube{
  color: #e84118;
}

