.sliderContainer {
  display: flex;

  width: 100%;
  height: 100vh;

  background: black;

  justify-content: center;
  align-items: center;
}
.slider {
  overflow: hidden;

  width: 100%;
  height: 80vh;

  background-color: black;
}

.slider figure {
  position: relative;
  left: 0;

  display: flex;
  overflow: hidden;

  width: 300%;
  height: 100%;

  animation-name: sliderAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.slider figure div {
  display: flex;

  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.slider figure div img {
  height: 100%;
}

@keyframes sliderAnimation {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  35% {
    left: -100%;
  }
  65% {
    left: -100%;
  }
  70% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}

.about {
  width: 100%;
  height: 100vh;

  color: white;
  background-color: black;
}

.about-heading {
  font-family: emoji;
  font-size: 50px;

  width: 100%;
  padding: 20px;

  text-align: center;
}

.about-paragraph {
  font-size: 18px;

  padding: 10px 0;

  text-align: center;
}

.trekking-info-container {
  width: 100%;
  /* background-color: black; */
  /* color: white; */
  padding: 0 80px;
}

.trekking-info {
  display: flex;

  width: 100%;
  height: 100vh;
}

.info-content {
  margin-right: 80px;
}

.info-content h3 {
  font-size: 24px;

  margin: 30px 0 0 0;
}

.info-content-paragraph {
  font-size: 18px;

  padding: 10px 0;
}

.info-heading {
  font-family: emoji;
  font-size: 50px;

  width: 100%;
  padding: 20px;

  text-align: center;
}

.info-image {
  display: flex;

  height: 100%;

  justify-content: center;
  align-items: center;
}

.info-image img {
  height: 80%;
}

.centerdiv {
  display: flex;

  height: 10vh;
  margin: 10px;

  justify-content: center;
  align-items: center;
}

.social-link {
  line-height: 90px;

  width: 70px;
  height: 70px;
  margin: 30px;

  text-align: center;

  border-radius: 100px;
  background-color: #f5f6fa;
  box-shadow: 1px 4px 2px 2px #dcdde1;
}

.social-link i {
  transition: all 0.3s linear;
}

.social-link:hover i {
  transform: scale(1.4);
}

.fa-instagram {
  color: #e84393;
}

.fa-youtube {
  color: #e84118;
}

@media (max-width: 720px) {
  .slider figure div img {
    width: 100%;
    height: auto;
  }
}
